# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1
orbs:
  slack: circleci/slack@4.2.0
jobs:
  lint_Dockerfile:
    docker:
      # Use the same Docker base as the project
      - image: python:3.7.3-stretch
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys: [Dockerfile-lint]
            
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint
      - save_cache:
          paths:
            - ./venv
          key: Dockerfile-lint
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint

  # Build Docker Application
  Build_DockerApp:
    docker:
      # Use the same Docker base as the project
      - image: circleci/golang:1.15
        auth:
             username: $DOCKER_USER
             password: $DOCKER_PASS

    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true

      # build and push Docker image
      - run: |
          TAG=DIVYA.$CIRCLE_BUILD_NUM
          docker build -t $TAG .
          docker image ls
          echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
          docker push $TAG
            
workflows:
  default:
    jobs:
      - lint_Dockerfile
      - Build_DockerApp:
         requires: [lint_Dockerfile]